/*
	COLOUR PALETTE

	White        #fff;
	Red          #c54b3c
    Navy         #393b47;
	Off-Black    #2b2e37;
*/

body {
	font-family: 'Assistant', sans-serif;
	background-color: #393b47;
}

header {
	display: flex;
	justify-content: center;
	background-color: #c54b3c;
	padding-bottom: 1.5rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
}

header>img {
	padding-right: 1rem;
}

p {
	font-size: 1rem;
}

h1 {
	font-size: 2.5rem;
	color: #fff;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
}

h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

footer {
	background-color: #2b2e37;
	color: #fff;
	text-align: center;
	padding-bottom: 2rem;
	padding-top: 2rem;
	margin-top: 3rem;
}

ul {
	padding-left: 1em;
}

/* Mobile View */

h2 {
	text-align: center;
}

main {
	margin: auto;
	max-width: 1280px;
	padding: 1rem;
}

section {
	display: flex;
	padding: 1rem;
	margin: 1rem;
	background-color: #fff;
	border-radius: 0.25rem;
}

section>div {
	color: #2b2e37;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

section>img {
	min-width: 40%;
	max-width: 9.375em;
	align-self: center;
	margin-right: 1rem;
}

aside {
	border-radius: 0.25rem;
	background-color: #2b2e37;
	color: #fff;
	padding: 1rem;
	margin: 2rem 1rem 1rem 1rem;
}

/* Medium View */

@media screen and (min-width: 800px) {
	section {
		flex-flow: column;
		width: calc(100% / 2 - 0.5rem);
		max-width: 49%;
		margin: 1rem 0rem 1rem 0rem;
	}

	section>div {
		padding-left: 0rem;
		padding-top: 0rem;
	}

	section>div>h3 {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	section>img {
		max-width: 100%;
		align-self: center;
		margin-right: 0rem;
	}

	section>* {
		width: unset;
	}

	.flex-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.wide-flex {
		display: flex;
	}

	aside {
		max-height: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}

	h2 {
		text-align: left;
	}
}

/* Largest View */

@media screen and (min-width: 1024px) {
	.wide-flex {
		display: flex;
		max-width: 100em;
	}
}